# see https://docs.docker.com/engine/reference/commandline/info/
# see https://www.freedesktop.org/software/systemd/man/systemd.syntax.html

[Unit]
Description=Docker Compose Up Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/decode/api/www/src/_infrastructure/docker/
ExecStart=/usr/libexec/docker/cli-plugins/docker-compose up -d
ExecStop=/usr/libexec/docker/cli-plugins/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

